---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "layout";

a, a:visited, a:hover, a:link{
  color: #fff;
}

h1{
  color: #F8EF4E;
  font-family: 'Ultra', serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 27px;
  top: 8px;
}

h2{
  font-size: 65px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 48px;
  margin-bottom: 20px;
}

.page-content{
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.playlist{
  //color: #222;
  backdrop-filter: blur(8px);
  background-color: rgba(darken(#EC168E, 5), 0.7);;
  width: auto;
  border: solid 2px #fff;
  border-radius: 15px;
  display: inline-block;
  min-width: 300px;
  .table{
    text-align: left;
    margin-bottom: 0;
    &>tbody>tr>td{
      border-top-width: 2px;
    }
    &>tbody>tr:first-child>td{
      border-top: none;
    }
  }

}