---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "breakpoints";
@import "typography";
@import "layout";
@import "player";

a, a:visited, a:hover, a:link{
  color: #fff;
  text-decoration: none;
}

h1{
  color: $yellow;
  font-family: 'Facebuster', 'Georgia', serif;
  font-size: 23px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: right;
  width: 300px;
  top: 7px;
  letter-spacing: 1.2px;
}

h2{
  font-size: 54px;
  margin: 0 auto 20px;
  padding: 0;
  font-family: 'Vow', 'Roboto', 'Helvetica Neue', sans-serif;
  line-height: 46px;
  width: 300px;
  text-align: right;
}

.site-header{
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(darken($pink, 5), 0.5);;
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px $yellow;
  .site-nav{
    margin-top: 15px;
    li{
      margin: 0 15px;
      @include breakpoint(sm){
        margin: 0 30px;
      }
      a{
        color: $yellow;
      }
    }
  }
}

.page-content{
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 40px;
}

.playlist{
  backdrop-filter: blur(8px);
  background-color: rgba($pink, 0.1);
  width: auto;
  border: solid 2px #fff;
  border-radius: 15px;
  display: inline-block;
  min-width: 300px;
  position: relative;
  &:before{
    display:none;
    content: ' ';
    width: 400px;
    height: 550px;
    background: transparent url("/assets/img/girl1.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -219px;
    left: -405px;
    @include breakpoint(md){
      display: block;
    }
  }
  .table{
    .playlist-row{ cursor: pointer; }
    text-align: left;
    margin-bottom: 0;
    thead{
      color: $yellow;
    }
    &>tbody>tr>td{
      border-top-width: 2px;
    }
    &>tbody>tr:first-child>td{
      border-top: none;
    }
  }
}