---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "breakpoints";
@import "typography";
@import "layout";
@import "player";

a, a:visited, a:hover, a:link{
  text-decoration: none;
}

.site-header{
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px;
  z-index: 3;
  .site-nav{
    margin-top: 15px;
    li{
      margin: 0 15px;
      @include breakpoint(sm){
        margin: 0 30px;
      }
      position: relative;
      #collectionsDropdown{
        display: none;
        position: absolute;
        width: 130px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
        padding: 5px 5px 10px;
        border-radius: 0px 0px 15px 15px;
        top: 34px;
        left: -7px;
        &.open{
          display: block;
        }
        li{
          margin: 0;
        }
      }
    }

  }
}

.page-content{
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 40px;
}

.playlist{
  backdrop-filter: blur(8px);
  width: auto;
  border: solid 2px;
  border-radius: 15px;
  display: inline-block;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  .table{
    .playlist-row{ cursor: pointer; }
    text-align: left;
    margin-bottom: 0;
    overflow: hidden;

    &>tbody>tr>td{
      border-top-width: 2px;
    }
    &>tbody>tr:first-child>td{
      border-top: none;
    }
  }
}

.layout-onepage-american-dream{
  h1{
    color: $yellow;
    font-family: 'Knockout-92UltmtCruiserwt', 'Georgia', serif;
    font-size: 20px;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    text-align: right;
    width: 300px;
    top: 7px;
    @include breakpoint(md){
      margin: 0 auto;
      font-size: 41px;
      width: 431px;
    }
  }

  h2{
    font-size: 39px;
    margin: 0 auto 20px;
    padding: 0;
    font-family: 'Vow', 'Roboto', 'Helvetica Neue', sans-serif;
    line-height: 40px;
    width: 300px;
    text-align: right;
    position: relative;
    @include breakpoint(md) {
      font-size: 81px;
      line-height: 77px;
      width: 431px;
      left: 0;
    }
    &:before{
      display: block;
      content: ' ';
      background: transparent url("/assets/img/girl1.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      width: 96px;
      height: 138px;
      left: -8px;
      top: -36px;
      @include breakpoint(md){
        width: 419px;
        height: 600px;
        top: -18px;
        left: -294px;
      }
      @include breakpoint(lg){
        //height: 800px;
        //width: 600px;
        //left: -576px;
      }
    }
    span{
      font-size: 120%;
    }
  }

  a, a:visited, a:hover, a:link{
    color: #fff;
  }

  .site-header{
    background-color: rgba(darken($pink, 5), 0.5);
    border-color: $yellow;
    .site-nav li a{
      color: $yellow;
    }
    .site-nav li{
      #collectionsDropdown{
        background-color: $pink;
        border-left-color: $yellow;
        border-bottom-color: $yellow;
        border-bottom-color: $yellow;
      }
    }
  }

  .playlist{
    background-color: rgba($pink, 0.1);
    border-color: #fff;
    @include breakpoint(md){
      left: 63px;
    }
    .table{
      thead{
        color: $yellow;
      }
      &>tbody>tr.playing{
        background-color: $yellow;
        color: $pink;
        .glyphicon{
          color: $pink;
        }
      }
    }
  }
}

.layout-onepage-grizzly-derringer{
  h1{
    font-family: "DKInsomniac";
    font-size: 65px;
    color: $brown;
    font-weight: normal;
    transform: rotate(15deg);
    position: relative;
    line-height: 60px;
    left: 60px;
    top: 10px;
    z-index: 2;
    span{
      font-size: 110%;
      display: block;
      transform: rotate(-5deg);
    }
  }

  h2{
    font-size: 140px;
    font-family: "DKInsomniac";
    line-height: 115px;
    color: rgba(#fff, .35);
    position: absolute;
    transform: rotate(-5deg);
    left: 0px;
    right: 90px;
    top: 100px;
    bottom: 0;
    span{
      display: block;
      position: relative;
      left: 90px;
      transform: rotate(deg);
    }
  }

  a, a:visited, a:hover, a:link{
    color: $orange;
  }

  .playlist{
    border-color: $light-brown;
    .table{
      color: $light-brown;
    }
  }

  .site-header{
    background-color: rgba($orange, 0.5);
    .site-nav li a {
      color: #fff;
    }

    .site-nav li{
      #collectionsDropdown{
        background-color: rgba($orange, 0.5);
      }
    }
  }
}