---
layout: default
---
<h1>Grizzly Derringer</h1>
<h2>American<br>Dream</h2>
<div class="playlist">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for song in site.data.playlist.songs %}
        <tr class="playlist-row">
            <td>{{ forloop.index }}.</td>
            <td>{{ song.title }}</td>
            <td>{{ song.duration }}</td>
            <td>
                <a href="{{ song.url }}" target="_blank" class="glyphicon glyphicon-play song-control"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include player.html %}
