<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".player").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    mp3: "https://s3-us-west-1.amazonaws.com/grizzlyderringer/Red_West.mp3"
                });
            },
            supplied: "mp3"
        });
    });
</script>