*{
    box-sizing: border-box;
}

html, body{
    background: $pink;
    background: -webkit-linear-gradient(left top,  $pink, $yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  $pink, $yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  $pink, $yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  $pink, $yellow); /* Standard syntax */
    background-size: 300% 300%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100%;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    padding-top: 50px;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}