*{
    box-sizing: border-box;
}


body.layout-onepage{    
    padding-top: 50px;                
}    

html,body{
    height: 100%;
    width: 100%;
    &.layout-onepage{
        overflow-y: auto;
        overflow-x: hidden;        
        &.layout-onepage-american-dream{
            background: $pink;
            background: -webkit-linear-gradient(left top,  $pink, $pink, $yellow, $yellow); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom right,  $pink, $pink, $yellow, $yellow); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom right,  $pink, $pink, $yellow, $yellow); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom right,  $pink, $pink, $yellow, $yellow); /* Standard syntax */
            background-size: contain;
            //-webkit-animation: AnimationName 30s linear infinite;
            //-moz-animation: AnimationName 30s linear infinite;
            //animation: AnimationName 30s linear infinite;        
            color: #fff;        
        }

        &.layout-onepage-grizzly-derringer{
            overflow-x: hidden;
            background: transparent url('/assets/img/album_1_background.jpg') no-repeat center center;
            background-size: 100% 100%;
            font-family: "TrashHand";
            font-size: 18px;
            color: $brown;
        }
    }    
}




@-webkit-keyframes AnimationName {
    0%{background-position:50% 50%}
    25%{background-position:0% 50%}
    50%{background-position:50% 50%}
    75%{background-position:70% 50%}
    100%{background-position:50% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 50%}
    25%{background-position:0% 50%}
    50%{background-position:50% 50%}
    75%{background-position:70% 50%}
    100%{background-position:50% 50%}
}
@keyframes AnimationName {
    0%{background-position:50% 50%}
    25%{background-position:0% 50%}
    50%{background-position:50% 50%}
    75%{background-position:70% 50%}
    100%{background-position:50% 50%}
}

