@font-face {
  font-family: 'Knockout-92UltmtCruiserwt';
  src: url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.eot');
  src: url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.woff2') format('woff2'),
       url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.woff') format('woff'),
       url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.ttf') format('truetype'),
       url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.svg#Knockout-92UltmtCruiserwt') format('svg'),
       url('/assets/fonts/knockout/Knockout-92UltmtCruiserwt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Facebuster';
  src: url('/assets/fonts/facebuster/Facebuster.eot');
  src: url('/assets/fonts/facebuster/Facebuster.woff2') format('woff2'),
  url('/assets/fonts/facebuster/Facebuster.woff') format('woff'),
  url('/assets/fonts/facebuster/Facebuster.ttf') format('truetype'),
  url('/assets/fonts/facebuster/Facebuster.svg#Facebuster') format('svg'),
  url('/assets/fonts/facebuster/Facebuster.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vow';
  src: url('/assets/fonts/vow/Vow.eot');
  src: url('/assets/fonts/vow/Vow.woff2') format('woff2'),
  url('/assets/fonts/vow/Vow.woff') format('woff'),
  url('/assets/fonts/vow/Vow.ttf') format('truetype'),
  url('/assets/fonts/vow/Vow.svg#Vow') format('svg'),
  url('/assets/fonts/vow/Vow.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LHFGunslingerGOOD';
  src: url('/assets/fonts/gunslinger/LHFGunslingerGOOD.eot');
  src: url('/assets/fonts/gunslinger/LHFGunslingerGOOD.woff2') format('woff2'),
  url('/assets/fonts/gunslinger/LHFGunslingerGOOD.woff') format('woff'),
  url('/assets/fonts/gunslinger/LHFGunslingerGOOD.ttf') format('truetype'),
  url('/assets/fonts/gunslinger/LHFGunslingerGOOD.svg#LHFGunslingerGOOD') format('svg'),
  url('/assets/fonts/gunslinger/LHFGunslingerGOOD.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
