//AMERICAN DREAM ONEPAGE COLOR PALETTE
$yellow : #FEEF5E;
$pink : #FC2698;
$blue : #00ffff;

//GRIZZLY DERRINGER ONEPAGE COLOR PALETTE
$dark-brown: #643914;
$brown : #8B321C;
$light-brown: #87602E;
$tan : #FDDAAD;
$orange: #E18143;